.contents {
  padding: 0 6rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  
  h3 {
    font-size: 10rem;
    margin: 12rem -6rem;
    font-family: "Poppins", sans-serif;
    
    margin-bottom: 3rem;
  }
  .num {
    position: absolute;
    top: 6.5rem;
    left: 33rem;
    
    img {
      height: 10rem;
      transform: rotate(-90deg);   
    }
    button {
      position: absolute;
      top: -0.5rem;
      width: 8rem;
      height: 8rem;
      font-size: 5rem;
      color: $text-color;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  ul.artist_in {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    li {
      width:24.5%;
      a {
        img {
          width: 100%;
        }
      }
      p {
        font-size: 2rem;
        margin: 1rem 0;
        
      }
    }
    
  }
}
/* 768px이하 */
@media (max-width:768px){
  .contents {
    padding: 0 2.5rem;
    h3 {
      margin-left: -2.5rem; 
    }
    .num {
      position: absolute;
      top: 7rem;
      left: 36rem;
      
      img {
        
        height: 8rem;
        margin-left: -3rem;  
      }
      button {
        font-size: 3.2rem;

      }
    }
    ul.artist_in {
      li{
        width:32.3%;
        img {
          width: 100%;
        }
      }
    }    
  }
 
}
   

/* 500px이하 */
@media (max-width:500px){
  .contents {
    padding: 0 2.5rem;
      h3 {
        font-size: 7rem;      
      }
      .num {
        position: absolute;
        top: 5rem;
        left: 28rem;
        img {
          height: 6rem;
          margin-left: -2rem;  
        }
        button {
          top: -1.5rem;
          font-size: 2.8rem;
          margin-left: -1rem;
        }
      }       
      ul.artist_in {
        
        display: block;
        li {
          width: 100%;
        }
      }    
  }
}