main {
    padding: 0 12rem;
    font-family: "Poppins", sans-serif;

    h3 {
        font-size: 10rem;
        margin: 12rem 0 3rem -6rem;
        font-family: "Poppins", sans-serif;
    }
    .damien {
        display: flex;
        gap: 3rem;
        height: 54rem;
        img {
            height: 54rem;
        }
        p {
            font-size: 1.8rem;
            line-height: 1.5;
            overflow: hidden;
        }
    }
    .damien_pic {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;       
      
        .pic {
            width: calc(33.33% - 20px);
            margin: 1rem;

            img {
                width: 100%;
            }
            p {
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
    }
}
/* 1280px이하 */ 
@media (max-width:1280px){
    main {
        .damien {
           
            height: 48rem;
            width: 100%;
            overflow: hidden;
            img {
                width: 50%;
            }
            p {
                font-size: 1.6rem;
            }          
        }
    }
 
   
}
/* 1082px이하 */ 
@media (max-width:1082px){
  main {
    .damien {
        p {
            font-size: 1.4rem;
        }
    }   
  }
}
/* 965px이하 */ 
@media (max-width:965px){
    main{
        h3 {
            font-size: 7rem;
        }
        .damien {
            display: block;
            height: 100%;
            img {
                width: 100%;
            }
            p {               
                margin-top: 3rem;
            }
        }
        .damien_pic {
            justify-content: space-between;
            .pic {
               width: 45.3%;

                img {
                    width: 100%;
                }
                p {
                    font-size: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
/* 768px 이하 */ 
@media (max-width:768px){
    main{
        padding: 0 2.5rem;
        h3 {
            font-size: 6rem;
            margin-left: -3rem;
        }
        .damien {

            p {               
                margin-top: 2.2rem;
            }
        }
        .damien_pic {
            justify-content: space-between;
            .pic {
               width: 45.3%;

                img {
                    width: 100%;                  
                }
                p {
                    font-size: 2rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
/* 500px 이하 */ 
@media (max-width:500px){
    main{

        h3 {
            font-size: 4rem;
            margin-left: -2rem;
        }
        .damien {

            p {               
                margin-top: 3rem;
                font-size: 1.2rem;
            }
        }
        .damien_pic {
            display: block;
            overflow: hidden;
            
            .pic {
             width: 100%;
                margin: auto;

                p {
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}